*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: fit-content;
    width: fit-content;
    min-height: 100vh;
    min-width: 100vw;

}
.container{
    width: 100%;
    height: 100%;
    background:linear-gradient(rgb(135, 206, 235,1),rgb(255, 255, 255,0.5));
}
li{
    display: inline;
}
a{
    text-decoration: none;
    color: black;
    display: inline;
}
.option{
    display: flex;
    width: fit-content;
    gap: 4rem;
    /* justify-content: space-around; */
    /* flex-direction: column; */
}
header{
    position: static;
    top: 0;
    color: black;
    height: fit-content;
    margin-bottom: 5px;
}
.login{
    display: flex;
    justify-content: end;
}
.tagline{
    display: flex;
    justify-content: center;
}
.box{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: white;

}
img{
    display: inline; 
}